# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
.env
.venv/
venv/
ENV/
.env.*
!.env.example

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Others
*.bak
*.swp
*.tmp
